// .offices-slider__item{
//   background-image: url("./../../../assets/img/media/offices/hcm.jpg")
// }
@import './../../../styles/index.scss';
.pic1{
  background: url("./../../../assets/img/media/offices/hcm.jpg");
}
.pic2{
  background: url("./../../../assets/img/media/offices/nhatrang.jpg");
}

.offices{
  opacity: 0;
  transition: all 1s;
}
.offices.in-view{
  opacity: 1;
}

.offices__title {
  padding: 1rem;
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: .94;
    text-align: center;
    text-transform: uppercase;
    color: $blue;
  }
  p {
    font-size: 1rem;
    padding: 0 1rem;
    line-height: 1.67;
    text-align: center;
    color: #323232;
  }
}

.owl-carousel.owl-loaded {
  display: block;
}
.offices-slider {
  position: relative;
  display: block!important;
  //height: 360px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #f6f6f6;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
    .owl-stage-outer {
      position: relative;
      overflow: hidden;
      -webkit-transform: translate3d(0,0,0);
    }
    .owl-stage {
      position: relative;
      -ms-touch-action: pan-Y;
      touch-action: manipulation;
      -moz-backface-visibility: hidden;
      padding: 1rem;
    }
}

.offices-slider .offices-slider__item {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 360px;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  overflow: hidden;
  
  .offices-slider__content {
    padding: 15px;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    color: #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.45)));
    background-image: -webkit-linear-gradient(top,transparent,rgba(0,0,0,.45));
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.45));
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
}

.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  flex:1;
}

.offices-slider .offices-slider__item:hover .offices-slider__content .offices-slider__overlay {
  opacity: 1;
}
.offices-slider .offices-slider__item .offices-slider__content .offices-slider__overlay {
  opacity: 0;
  background-color: rgba(10,131,159,.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.offices-slider .offices-slider__item:hover .offices-slider__content .offices-slider__text {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.offices-slider .offices-slider__item .offices-slider__content .offices-slider__text {
  flex: 0 1 38%;
  -js-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .3s linear;
}
.offices-slider .offices-slider__item .offices-slider__content .offices-slider__text .offices-slider__city {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
}
.offices-slider .offices-slider__item:hover .offices-slider__content .offices-slider__text .offices-slider__address {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
    p {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.3;
      text-align: center;
    }
}

.offices-slider__address {
  text-align: center;
  opacity: 0;
}


@media screen and (max-width: 767px){
  .offices-slider .offices-slider__item .offices-slider__content {
    padding: 30px;
    max-width: 100%;
  }
  
}

@media screen and (max-width: 1023px){
  .offices-slider .offices-slider__item .offices-slider__content {
    padding: 15px;
  }
}

@media screen and (max-width: 767px){
  .offices .container {
    padding: 0;
  }
}
@media (min-width: 767px){
  .owl-stage {
    display: flex;
}

}
@media (min-width:1024px){
  .offices__title{
    h2 {
      font-size: 2.3rem;
   }
   p{
     font-size: 1.3rem;
   }
  } 
 .blog .container .blog__grid {
  flex-direction: row;
  }
}



