$size: 10px;
.clientsDiv {
    display: flex;
    flex-direction: column;
    min-height: 219px;
    align-items: center;
    .ttaPadding{
        padding: 3rem 2rem;
        width: 100vw;
        .animate.default.right{
            position: relative;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            opacity: 0;
            h2{
                font-size: 1.3rem;
                margin-bottom: 3rem;
                font-weight: lighter;
                color:gray;
            }
            strong{
                color:gray;
            }
            p{
                color: gray;
                font-size: 0.85rem;
                margin-bottom: 1rem;
            }
            // .in-view {
            //     left: 0;
            //     opacity: 1;
            // }
        }
    }
}



.clientsDiv .ttaPadding .animate.default.right {
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    opacity: 0;
}


.clientsDiv .ttaPadding .animate.default.right.in-view {
    left: 0;
    opacity: 1;
}

// .animate.default {
//     position: relative;
//     -webkit-transition: all 0.2s;
//     -moz-transition: all 0.2s;
//     -ms-transition: all 0.2s;
//     -o-transition: all 0.2s;
//     opacity: 0;
// }

.clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    //width: 100vw;
    background: white;
    .align-middle{
        .ttaPadding{
            padding: 3rem 2rem;
            width: 100vw;
        }
    }
}


p.attribution span{
    font-size: 0.7rem;
    color:gray;
}

 .clients .quote {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    min-height: 300px;
    border-color: #FFFFFF;
}

div.quote.animate {
    border: 1px solid gray;
    animation: faceOut 2s infinite;
    
}
div.quote {
    padding: 15px;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    position: relative;
    border: #6A666A solid 1px;
}

.testimonial p span{
    color: gray;
}
#alert-success{
    animation: alert-success 12s infinite; 
} 

#alert-success:after {
    content: ""
}


// Draw
.smileIcon {
    display: flex;
    justify-content: center;
    .divIcon {
        display: flex;
        .toggleSmile{
            opacity: 0;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            .cover {
                height: 40px;
                width: 40px;
                border: 1px solid gray;
                margin-top: .5rem;
            }
            .divdraw {
                display: inline-block;
                border: 1px solid gray;
                .bottom {
                    border-bottom-left-radius: $size * 2;
                    border-bottom-right-radius: $size * 2;
                    margin-top:$size*2.5;
                    margin-left:$size;
                    height: $size;
                    width: $size * 2;
                }
            }
        }
        
        .tamgiac {
            margin-left: 1rem;
            border-top: 1px solid white;
            position: relative;
            top: -1px;
        }

    }
}


.smileIcon .divIcon .toggleSmile.in-view {
    opacity: 1;
    position: relative;
    left: -100px;
    transform: translateX(100px);
}

@media (min-width: 768px){
    .animate.default.right {
        left: 50px;
    }
}

@media (min-width: 768px){
    .clients {
        flex-direction: row;
        display: flex;
    }
    .clients .align-middle {
        width: 50%;
    }
    .clients .align-middle .ttaPadding {
        width: auto;
    }
    .clientsDiv {
        width: 50%;
        .ttaPadding{
            width: auto;
        }
    }
}


@media (min-width: 992px){
    .animate.default.divServices {
        padding-right: 25rem;
    }
    .clientsDiv {
        .ttaPadding{
            .animate.default.right{
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                 }
            }
        }
         
    }
    .tamgiac {
        border-top: 2px solid white;
    }
}


